@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@import "./homepage.scss";
@import "./menu-item.scss";
@import "./directory.scss";
@import "./previewCollection.scss";
@import "./collectionItem.scss";
@import "./header.scss";
@import "./sign-in-up.scss";
@import "./sign-in.scss";
@import "./button.scss";

*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}

a{
    text-decoration: none;
    color: black;
}